<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <form method="POST">
            <div class="form-group">
                <label for="prof_name">Nome do Profissional:</label>
                <input type="text" id="prof_name" name="prof_name" required>
            </div>

            <div class="form-group">
                <label for="prof_ocupation">Ocupação:</label>
                <input type="text" id="prof_ocupation" name="prof_ocupation" required>
            </div>

            <button type="submit">Cadastrar</button>
        </form>
    </main>
</body>
</html>