<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="../static/css/prod-serv.css">
    <link rel="icon" type="image/x-icon" href="../static/images/Software Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <button class="logo"><i class="fa-solid fa-bone"></i></button>
            <ul class="options">
                <li><a href="{{ url_for('home') }}">Início</a></li>
                <li><a href="{{ url_for('products') }}">Produtos</a></li>
                <li><a href="{{ url_for('home') }}">Categorias</a></li>
                <li><a href="{{ url_for('services') }}">Serviços</a></li>
                <li><a href="">Nossos Profissionais</a></li>
            </ul>
            <button class="menu"><i class="fa-solid fa-bars"></i></button>
        </nav>
    </header>
    <main>
        <form class="products" method="POST" id="products">
            <h1>Cadastrar Produtos</h1>
            <section class="form">
                <div class="prod-name">
                    <label>Nome do produto</label>
                    <input type="text" id="product_name" name="product_name">
                </div>
                <div class="prod-desc">
                    <label>Descrição do produto</label>
                    <textarea id="product_desc" name="product_desc"></textarea>
                </div>
                <div class="category">
                    <label for="">Categoria</label>
                    <input type="search" id="category" name="category">
                </div>
                <div class="price">
                    <label for="">Preço</label>
                    <input type="number" inputmode="decimal" step="0.01" min="0.00" name="product-price">
                </div>
                <div class="quantity">
                    <label for="">Quantidade</label>
                    <input type="number" id="" min="0" name="quantity">
                </div>
            </section>
            <div class="send-bt">
                <button type="submit" onclick="unhideButton()">Cadastrar</button>
            </div>
        </form>
    </main>
</body>

</html>