<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar</title>
    <link rel="stylesheet" href="../static/css/prod-serv.css">
    <link rel="icon" type="image/x-icon" href="../static/images/Software Logo.png">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="options">
                <a href="#products" id="reg-prod">Cadastrar produtos</a>
                <a href="#services" id="reg-serv">Cadastrar serviços</a>
            </div>
        </nav>
    </header>
    <main>
        <form class="services" action="GET, POST" id="services">
            <section class="form">
                <div class="serv-name">
                    <label>Nome do serviço</label>
                    <input type="text" id="service_name" name="service_name">
                </div>
                <div class="serv-desc">
                    <label>Descrição do serviço</label>
                    <textarea minlength="200px" id="product_desc" name="service_desc"></textarea>
                </div>
                <div class="category">
                    <label for="">Categoria</label>
                    <input type="search" id="category" name="category">
                </div>
                <div class="professional">
                    <label for="">Profissional</label>
                    <select name="professional" id="professional">
                        <option value=""></option>
                    </select>
                </div>
                <div class="price">
                    <label for="">Preço</label>
                    <input type="number" inputmode="decimal" step="0.01" min="0.00" name="service_price">
                </div>
                <div class="hour">
                    <label for="">Horário</label>
                    <input type="time" name="" id="" name="hour">
                </div>
            </section>
            <div class="send-bt">
                <button>Cadastrar</button>
            </div>
        </form>
    </main>
</body>

</html>