html{
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgb(217, 184, 166);
    display: flex;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(129, 72, 42);
    padding: 10px;
}
.nav-bar i{
    font-size: 40px;
    color: rgb(164, 124, 102);
    width: 40px;
    height: 40px;
}
.options{
    list-style: none;
    display: flex;
    gap: 40px;
}
a{
    text-decoration: none;
    color: white;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.options-lateral{
    display: flex;
    flex-direction: column;
    position: relative;
    /* right: -500px; */
    top: 0;
    gap: 20px;;
}
.options-lateral li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.options-lateral i{
    font-size: 40px;
    color: rgb(164, 124, 102)
}

aside{
    position: relative;
    right: -300px;
    top: 0;
    background-color: rgb(86, 50, 30);
    height: 100vh;
    padding: 0 40px 0 40px;
}
ul{
    padding: 0;
}
.banner1{
    display: flex;
    justify-content: center;;
}
.banner1 img{
    width: 50%
}
.presentation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(86, 50, 30);
    color:rgb(217, 184, 166);
}
.presentation img{
    border-radius: 50%
}