:root {
    --primary: #56321E;
    --secondary: #D9B8A6;
    --highlights: #AD7F60;
}

body {
    background-color: var(--secondary);
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-bar ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-bar a {
    color: var(--secondary);
    text-decoration: none;
    padding: 6px;
    border-radius: 14px;
    transition: .2s;
}

.nav-bar a:hover {
    background-color: var(--highlights);
    color: var(--primary);
    transition: .2s;
}

header button {
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    border: none;
}

header i {
    font-size: 30px;
    color: #AD7F60;
    transition: .4s;
}

header i:hover {
    transform: scale(1.2);
    transition: .4s;
    cursor: pointer;
}

.presentation{
    display: flex;
    align-items: center;
    background-color: var(--primary);
    color: var(--secondary);
    width: fit-content;
}
.presentation>figure>img{
    clip-path: circle(50%);
    aspect-ratio: 1/1;
    object-fit: cover;
}