body {
    background-color: rgb(206, 235, 243);
    color: black;
    font-size: 2rem;
    margin: 0;
}

.nav-bar {
    background-color: rgb(25, 89, 107);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.options {
    width: 40%;
    display: flex;
    justify-content: space-between;
    ;
    justify-items: center;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

a:hover{
    font-size: 2.1rem;
    transition: 0.4s;
    text-decoration: underline;
}

img {
    width: 2%;
}

.product {
    display: flex;
    ;
    background-color: rgb(25, 89, 107);
}