html{
    scroll-behavior: smooth;
}

body{
    margin: 0 auto;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: brown;
    padding: 15px;
}

.nav-bar img{
    height: 40px;
}

.options{
    list-style: none;
    display: flex;
    gap: 40px;
}

a{
    text-decoration: none;
    color: white;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}