:root {
    --primary: #56321e;
    --secondary: #d9b8a6;
    --backdrop: #56321e74;
}

.login-bt {
    background-color: green;
    color: white;
    border: none;
    border-radius: 40px;
    padding: 14px 18px 14px 18px;
    cursor: pointer;
    transition: .4s;
    font-size: 22px;
    margin: 10px 0 10px 0;
}

.login-bt:hover {
    font-size: 24px;
    padding: 16px 20px 16px 20px;
    transition: .4s;
}

.login-bt[disabled] {
    opacity: .5;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 24px;
    background-image: url(../images/Chocolate\ Swirl\ Wallpaper_\ Abstract\ Wallpapers\ _\ Aesthetic\ Wallpapers\ _\ Brown\ Wallpapers.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

form {
    background-color: var(--backdrop);
    width: fit-content;
    height: fit-content;
    color: var(--secondary);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: safe;
    flex-direction: column;
    backdrop-filter: blur(10px);
    border-radius: 30px;
    border: solid 3px var(--secondary)
}

form a {
    color: var(--secondary);
    text-decoration: none;
    ;
}

form input:not(.login-bt) {
    border: solid var(--secondary) 1px;
    background-color: transparent;
    color: var(--secondary);
    border-radius: 20px;
    padding: 4px;
    font-size: 24px;
    margin: 10px 0 10px 0;
}

form input:not(.login-bt):focus {
    outline: none;
}

input::placeholder {
    margin-left: 40px;
}

#showPass,
#speechPass {
    background-color: transparent;
    border: none;
}

#showPass i,
speechPass i {
    font-size: 20px;
    color: var(--secondary)
}

input[type=checkbox] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

div {
    margin: 10px 0 10px 0;
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px
}