body{
    height: 100vh;
    width: 100vh;
    background-image: linear-gradient(45deg, #4F3E15, #D9C393);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    border: solid 1px white;
    backdrop-filter: blur(10px);
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.5rem;
}

input{
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-radius: 10px
}