@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body {
    font-size: 2rem;
    font-family: "Momo Trust Display", sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('../images/japan-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

input {
    font-size: 2rem;
    border-radius: 16px;
    box-shadow: none;
    border-style: none;
    background-color: transparent;
    color: white;
    border: 2px solid rgba(255, 255, 255, .5);
    padding: 0.6rem 0 0.6rem 0;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    padding: 0 10px 0 10px;
}

.login_bt {
    background-color: rgb(0, 206, 0);
    color: white;
    padding: 1.0rem 2rem 1.0rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: "Momo Trust Display", sans-serif;
}

.sign_bt{
    background-color: rgb(0, 206, 0);
    color: white;
    padding: 1.0rem 2rem 1.0rem 2rem;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    border-radius: 16px;
    text-decoration: none;
}

.button {
    text-align: center;
    padding: 10px 0 10px 0;
}

h1 {
    text-align: center;
}

main {
    background-color: transparent;
    border: rgba(255, 255, 255, .5) solid;
    padding: 2.4rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.boxes {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 10px 0;
}

.pasw, .email{
    display: flex;
    padding: 20px 0 20px 0;
}