@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

body{
    font-family: "Momo Trust Display", sans-serif;
    color: white;
    background-image: url('../images/japan-background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    font-size: 2rem;
}

h1{
   text-align: center; 
}

input {
    font-size: 2rem;
    border-radius: 16px;
    box-shadow: none;
    border: none;
    color: white;
}

main{
    backdrop-filter: blur(10px);
    padding: 2rem;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

a{
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    border: 2px solid rgba(255, 255, 255, .2);
}

.username, .email, .password, .buttons{
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

input::placeholder{
    color:rgba(255, 255, 255, 0.5);
    padding: 0 10px 0 10px;
}

input {
    padding: 0.6rem 0 0.6rem 0;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
}

.sign_bt, .login_bt{
    background-color: rgb(0, 206, 0);
    color: white;
    padding: 1.4rem;
    border: none;
    border-radius: 16px;
    font-family: "Momo Trust Display", sans-serif;
}

.sign_bt:hover{
    cursor: pointer;
    padding: none;
}

.login_bt:hover{
    padding: none;
}

.buttons{
    display: block;
    text-align: center;
}


#type_user{
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: rgb(255, 179, 64);
    font-size: 2rem;
    border-radius: 16px;
    font-family: "Momo Trust Display", sans-serif;
    padding: 0 10px 0 10px;
}