<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSertão</title>
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/images/Software Logo.png">
</head>

<body>
    <header class="header">
        <nav class="nav-bar">
            <button><img src="../static/images/Software Logo.png"></button>
            <ul class="options">
                <li><a href="{{ url_for('home') }}">Início</a></li>
                <li><a href="{{ url_for('products') }}">Produtos</a></li>
                <li><a href="{{ url_for('home') }}">Categorias</a></li>
                <li><a href="{{ url_for('services') }}">Serviços</a></li>
                <li><a href="">Nossos Profissionais</a></li>
            </ul>
            <button><img src="../static/images/Users Icon.png"></button>
        </nav>
    </header>
    <main>
        <section class="presentation">
            <img src="" alt="" class="banner1">
        </section>
        <section class="product">
            <figure>
                <img src="https://preview.redd.it/ivan-drago-from-rocky-as-v0-ugy017ru6tdb1.jpg?width=574&format=pjpg&auto=webp&s=487e9a06dda7537d3c5073b3002d724b897440da" alt="">
            </figure>
            <div>
                <h3>Mais que um petshop - uma missão de vida</h3>
                <p>O PetSertão surgiu do carinho e compaixão por essas criaturinhas que infelizmente são maltratadas todos os dias por pessoas cruéis.<br>Nossa clínica busca ao máximo trazer conforto e aconchego</p>
            </div>
        </section>
    </main>
</body>

</html>