<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetSertão</title>
    <link href="../static/css/home.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/images/Software Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <main>
        <header class="header">
            <button class="logo"><i class="fa-solid fa-bone"></i></button>
            <nav class="nav-bar">
                <ul class="options">
                    <li><a href="{{ url_for('home') }}">Início</a></li>
                    <li><a href="{{ url_for('products') }}">Produtos</a></li>
                    <li><a href="{{ url_for('home') }}">Categorias</a></li>
                    <li><a href="{{ url_for('services') }}">Serviços</a></li>
                    <li><a href="">Nossos Profissionais</a></li>
                </ul>
            </nav>
            <button class="dark-mode"><i class="fa-solid fa-sun"></i></button>
        </header>
        <section class="banner1">
            <img src="https://res.cloudinary.com/jerrick/image/upload/c_scale,f_jpg,q_auto/682562039e3038001c81aebb.png"
                alt="" class="">
        </section>
        <section class="presentation">
            <figure>
                <img src="https://img.freepik.com/fotos-gratis/veterinario-verificando-a-saude-do-filhote_23-2148728396.jpg?semt=ais_hybrid&w=740&q=80"
                    alt="" srcset="" style="clip-path: 50% at center;">
            </figure>
            <div>
                <h3>Mais que um petshop - uma missão de vida</h3>
                <p>A PetSertão tem como missão oferecer atendimento veterinário de excelência, cuidando de cada paciente
                    com carinho, respeito e responsabilidade, promovendo saúde e bem-estar em todas as fases da vida dos
                    animais. Sua visão é ser referência em cuidado veterinário na região, reconhecida pela confiança,
                    humanização no atendimento e compromisso com a qualidade, construindo relações duradouras com
                    tutores e seus pets. Seus valores são baseados no amor aos animais, na ética profissional, na
                    empatia, na dedicação contínua ao aprendizado, na transparência e no compromisso em tratar cada pet
                    como único, garantindo um ambiente acolhedor, seguro e cheio de afeto.
                </p>
            </div>
        </section>
        <section class="products">
            <ul>
                {% for p in products %}
                    <button>{{p.product_name}}</button>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>