<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Serviços</title>
    <link rel="icon" type="image/x-icon" href="../static/images/Software Logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <header>

    </header>
    <main>
        <section class="main-content">
            <header class="header">
                <nav class="nav-bar">
                    <button class="logo"><i class="fa-solid fa-bone"></i></button>
                    <ul class="options">
                        <li><a href="{{ url_for('home') }}">Início</a></li>
                        <li><a href="{{ url_for('products') }}">Produtos</a></li>
                        <li><a href="{{ url_for('home') }}">Categorias</a></li>
                        <li><a href="{{ url_for('services') }}">Serviços</a></li>
                        <li><a href="">Nossos Profissionais</a></li>
                    </ul>
                    <button class="menu"><i class="fa-solid fa-bars"></i></button>
                </nav>
            </header>
        </section>
        <section class="services">
            <ul>
                {%for s in services%}
                    <li>{{s.service_name}}</li>
                {%endfor%}
            </ul>
        </section>
    </main>
</body>

</html>