<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <title>Sign Up | PetShop</title>
</head>

<body>
    <main>
        <h1>Sign Up</h1>
        <form method="POST" class="signup">
            <div class="username">
                <label>Username:
                    <input type="text" name="username" placeholder="Username">
                </label>
                <i class="bx bxs-user"></i>
            </div>
            <div class="email">
                <label>E-mail:
                    <input type="email" name="email" placeholder="E-mail">
                </label>
                <i class="bx bxs-user"></i>
            </div>
            <div class="password">
                <label>Password:
                    <input type="password" name="pasw" placeholder="Password">
                </label>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <select name="type_user" id="" class="type_user">
                <option value="1">Administrador</option>
                <option value="2">Cliente</option>
            </select>
            <div class="buttons">
                <label>
                    <input type="submit" name="signup" class="sign_bt" value="Sign Up">
                </label>
                <a href="{{ url_for('login') }}" class="login_bt">Login</a>
            </div>
            
        </form>
    </main>
</body>

</html>